main {
  position: relative; 
  padding-top: 60px; 
}
/*
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
*/
/* Bootstrap כבר מגדיר display:flex ל-row, רק מוסיפים transition */
.row {
  transition: flex-direction 0.3s ease;
}

/* כשהמחלקה swapped תתווסף, נעשה הפוך */
.row.swapped {
  flex-direction: row-reverse;
}

.uniform-img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}
